<!DOCTYPE html>
<html>
<head>
<title> Homepage</title>
  <style>
    button{
      font-size: 30px;
      width: 250px;
      height: 100px;
      border-radius: 5px;
    }
  </style>
</head>


<body>
<div style="text-align: center">
  <h2 style="text-align: center; font-size: 30px;">What would you like to do first?</h2>

</div>

<div  style="text-align: center">
  <a href="https://en.wikipedia.org/wiki/Personal_finance" target="_blank" style="text-align: center"><button style="background-color: #c6fac3; ">
    What is personal finance?</button></a>
  <a href="https://www.forbes.com/sites/forbesfinancecouncil/2021/03/04/five-steps-for-developing-your-personal-financial-plan/?sh=429868f93d17"><button style="background-color: #c5d6ed;">
    5 Steps from Forbes
  </button></a>

</div>

<div style="margin-top: 10px; text-align: center">
<a href ="../app.component.html"><button style="background-color: lightpink;">Leave :(</button></a>
</div>

<br>
<br>
<br>
<div style="text-align: right">
  <img src="../pig_with_100s.jpg" alt="Piggy Bank" style=" width:30%;">

</div>

</body>
</html>
